
body {
  background-color: black;
  text-align: center;
  font-family: Verdana, sans-serif;
  color: white;
}

h1 {
  display: block;
  font-weight: bold;
  font-size: 35px;
  margin-left: 0.67em;
  margin-right: 0.67em;
}

.link {
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

h2 {
  font-size: 28px;
  display: block;
  margin-left: 0.83em;
  margin-left: 0.83em;
  font-weight: bold;
}

p {
  color: Gray;
  font-size: 15px;
  display: block;
  margin-right: 1em;
  margin-left: 1em;
}
.footer {
  text-align: right;
}
